@import url("https://fonts.googleapis.com/css?family=Alatsi|Patua+One&display=swap");

$darkgrey: #3c3a3a;
$redish: #ed8c81;
$yellow: #ffdd6c;
$orange: #edce78;
$largescreen: 1600px;
$desktop: 1200px;
$tablet: 1023px;
$fablet: 900px;
$mobile: 767px;
