.OrderList {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6rem;
  left: 0;
  .bg {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;

    left: 0;
  }
  .list {
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 0;
    right: -31rem;
    border: solid rgba(71, 71, 71, 0.253) 1px;
    background-color: rgba(255, 254, 254, 0.932);
    transition: all 0.3s ease-in-out;

    .card {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(71, 71, 71, 0.253);
      .image {
        margin: 1rem;
        width: 10rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        list-style: none;

        li {
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 700;
        }
      }
    }
    button {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: $orange;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        background-color: $darkgrey;
        color: #fff;
      }
    }
  }
}
.OrderList-active {
  .bg {
    display: block;
  }
  .list {
    right: 0;
  }
}
